.home {
  display: flex;
  justify-content: center;

  height: 100vh;
  padding: 24px 0;

  background: purple;
}

.home__column--first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 20vw;
}

.home__column--second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;

  width: 30vw;
}

.home__column--center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 30vw;
  padding-top: 2vh;
}

.icon--versus {
  position: absolute;
  z-index: 1;

  width: 40px;
  height: 40px;
}

.home__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home__card {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.home__title {
  font-weight: 700;
  font-size: 16px;

  color: white;
}

@media (max-width: 1400px) {
  .home__column--first {
    width: 24vw;
  }

  .home__column--second {
    gap: 36px;

    width: 24vw;
  }
  .home__card {
    gap: 1%;
  }
}
